<a href="https://colab.research.google.com/github/KennethTBarrett/DS-Unit-2-Linear-Models/blob/master/Copy_of_LS_DS_213_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [x] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [x] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [x] Do one-hot encoding of categorical features.
- [x] Do feature selection with `SelectKBest`.
- [x] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand â€”Â use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [x] Get mean absolute error for the test set.
- [x] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

# Setup Code

## Lambda's Setup Code

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [0]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
# df['BOROUGH'] = df['BOROUGH'].astype(str)

In [0]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

## My Setup Code

In [9]:
# Let's see what we're working with!
df

       BOROUGH             NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
0            1                    OTHER  ...          0  01/01/2019
1            1                    OTHER  ...          0  01/01/2019
2            1                    OTHER  ...          0  01/01/2019
3            1                    OTHER  ...          0  01/01/2019
4            1  UPPER EAST SIDE (59-79)  ...          0  01/01/2019
...        ...                      ...  ...        ...         ...
23035        4                    OTHER  ...     510000  04/30/2019
23036        4                    OTHER  ...     355000  04/30/2019
23037        4                    OTHER  ...     375000  04/30/2019
23038        4                    OTHER  ...    1100000  04/30/2019
23039        4                    OTHER  ...     569202  04/30/2019

[23040 rows x 21 columns]

In [10]:
print(df['EASE-MENT'].isna().sum()) # All of this column is NaN
print(df['APARTMENT_NUMBER'].isna().sum()) # All except one in this column are NaN
print(df['NEIGHBORHOOD'].unique())

23040
17839
['OTHER' 'UPPER EAST SIDE (59-79)' 'UPPER EAST SIDE (79-96)'
 'BOROUGH PARK' 'ASTORIA' 'FOREST HILLS' 'UPPER WEST SIDE (59-79)'
 'BEDFORD STUYVESANT' 'EAST NEW YORK' 'FLUSHING-NORTH' 'GRAMERCY']

In [0]:
# Drop NaN columns
df.drop(['EASE-MENT', 'APARTMENT_NUMBER'], axis = 1, inplace = True)

In [12]:
df.T

                                                              0  ...                          23039
BOROUGH                                                       1  ...                              4
NEIGHBORHOOD                                              OTHER  ...                          OTHER
BUILDING_CLASS_CATEGORY         13 CONDOS - ELEVATOR APARTMENTS  ...  12 CONDOS - WALKUP APARTMENTS
TAX_CLASS_AT_PRESENT                                          2  ...                              2
BLOCK                                                       716  ...                           1216
LOT                                                        1246  ...                           1161
BUILDING_CLASS_AT_PRESENT                                    R4  ...                             R2
ADDRESS                             447 WEST 18TH STREET, PH12A  ...          61-05 39TH AVENUE, F5
ZIP_CODE                                                  10011  ...                          11377
RESIDENTIAL_UNITS                                             1  ...                              1
COMMERCIAL_UNITS                                              0  ...                              0
TOTAL_UNITS                                                   1  ...                             85
LAND_SQUARE_FEET                                         10,733  ...                         15,151
GROSS_SQUARE_FEET                                          1979  ...                            854
YEAR_BUILT                                                 2007  ...                           1927
TAX_CLASS_AT_TIME_OF_SALE                                     2  ...                              2
BUILDING_CLASS_AT_TIME_OF_SALE                               R4  ...                             R2
SALE_PRICE                                                    0  ...                         569202
SALE_DATE                                            01/01/2019  ...                     04/30/2019

[19 rows x 23040 columns]

In [0]:
# Define variables with high cardinality...

high_cardinality = ['ADDRESS', 'BLOCK', 'LOT', 'BUILDING_CLASS_AT_TIME_OF_SALE',
                    'ZIP_CODE', 'BUILDING_CLASS_AT_PRESENT', 'SALE_DATE', 'LAND_SQUARE_FEET']

In [0]:
# Drop columns with no uniqueness...

df.drop(['TAX_CLASS_AT_TIME_OF_SALE', 'TAX_CLASS_AT_PRESENT'], axis = 1, inplace = True)

# My Work

## Define Subset of Data

In [15]:
# We're only going to be using this subset, so I'm just going to go ahead and redefine df for simplicity to meet the specified parameters.
df = df[(df['BUILDING_CLASS_CATEGORY'] == '01 ONE FAMILY DWELLINGS') & (df['SALE_PRICE'] > 100000) & (df['SALE_PRICE'] < 2000000)]

# Now, since we're only dealing with one building class category, let's drop that column.

df.drop(['BUILDING_CLASS_CATEGORY'], axis = 1, inplace = True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

## Train / Test Split

I decided to use Regex to do the train/test split.

In [16]:
# First, the train data...
train = df[df['SALE_DATE'].str.contains('^01/.*/2019$') |
           df['SALE_DATE'].str.contains('^02/.*/2019$') |
           df['SALE_DATE'].str.contains('^03/.*/2019$')]

# ... and the test data!
test = df[df['SALE_DATE'].str.contains('^04/.*/2019$')]

test.head()

       BOROUGH NEIGHBORHOOD  ...  SALE_PRICE   SALE_DATE
18235        2        OTHER  ...      895000  04/01/2019
18239        2        OTHER  ...      253500  04/01/2019
18244        3        OTHER  ...     1300000  04/01/2019
18280        3        OTHER  ...      789000  04/01/2019
18285        3        OTHER  ...      525000  04/01/2019

[5 rows x 16 columns]

## Use One-Hot Encoding on Categorical Variables

In [0]:
import category_encoders as ce

target = 'SALE_PRICE'
features = train.columns.drop([target] + high_cardinality)

X_train = train[features]
X_test = test[features]

encoder = ce.OneHotEncoder(use_cat_names = True)
X_train = encoder.fit_transform(X_train)
X_test = encoder.transform(X_test)

y_train = train[target]
y_test = test[target]

## Feature Selection

In [18]:
# Import
from sklearn.feature_selection import SelectKBest, f_regression


for k in range(1, len(X_train.columns) + 1):

  selector = SelectKBest(score_func = f_regression, k = k)

  X_train_selected = selector.fit_transform(X_train, y_train)
  X_test_selected = selector.transform(X_test)

# Features Selected
selected_mask = selector.get_support()
all_names = X_train.columns
selected_names = all_names[selected_mask]

print('Selected Features: \n')
for name in selected_names:
  print(name)
selected_names

Selected Features:

BOROUGH
NEIGHBORHOOD_OTHER
NEIGHBORHOOD_FLUSHING-NORTH
NEIGHBORHOOD_EAST NEW YORK
NEIGHBORHOOD_BEDFORD STUYVESANT
NEIGHBORHOOD_FOREST HILLS
NEIGHBORHOOD_BOROUGH PARK
NEIGHBORHOOD_ASTORIA
RESIDENTIAL_UNITS
COMMERCIAL_UNITS
TOTAL_UNITS
GROSS_SQUARE_FEET
YEAR_BUILT

## Ridge Regression Model

In [0]:
# Imports
from IPython.display import display, HTML
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_absolute_error

In [40]:
for alpha in [0.000001, 0.00001, 0.0001, 0.001, 0.01, 0.1, 1.0, 10.0, 100.0, 1000.0]:
  # Display which alpha
  display(HTML(f'Ridge Regression Where Alpha = {alpha}'))
  # Fit the Ridge Regression Model
  model = Ridge(alpha = alpha, normalize = True)
  model.fit(X_train_selected, y_train)

  # Predict
  y_pred = model.predict(X_test_selected)
  # Print MAE
  mae = mean_absolute_error(y_test, y_pred)
  display(HTML(f'Test Mean Absolute Error: ${mae:,.0f}'))